.form {
  padding: $gap * 1.5 0;

  background-color: $color-primary;
  &__container {
    display: grid;
    align-items: center;
    justify-content: center;

    @extend %container;
    gap: $gap;
    grid-template-columns: repeat(3, 1fr);
    @include md-min {
      grid-template-areas: "f1 f2 f3";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "f1 f1" "f2 f3";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "f1" "f2" "f3";
      grid-template-columns: 1fr;
    }
  }
  &-item {
    .btn--primary {
      width: 100%;

      border-color: rgba($color-light, 0);
      border-bottom-color: rgba($color-light, 0.2);
      background-color: rgba($color-light, 0.1);
      &:hover,
      &:focus {
        cursor: pointer;

        border-color: $color-light;
        background-color: $color-accent;
      }
    }
    &__input {
      display: block;

      width: 100%;
      height: 60px;
      padding: 0 $gap * 1.5;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.15em;

      color: $color-light;
      border: 2px solid rgba($color-light, 0);
      border-bottom-color: rgba($color-light, 0.25);
      background-color: rgba($color-light, 0.05);

      font-size: 1.125rem;
      &::placeholder {
        color: $color-gray;
      }
      &:hover,
      &:focus {
        border-color: rgba($color-light, 0.15);
        border-bottom-color: $color-light;
        background-color: rgba($color-light, 0.15);
      }
    }
  }
}
@for $i from 1 through 3 {
  .form-item:nth-of-type(#{$i}) {
    grid-area: f#{$i};
  }
}
