.footer {
  padding: 50px 20px 70px;

  text-align: center;

  background-color: $color-primary;
  &__container {
    @extend %container;
  }
  &__social {
    position: relative;

    display: grid;
    justify-content: center;

    margin-bottom: 40px;

    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    .fab {
      font-size: 2.25rem;
    }
    &::after {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 75px / 2);

      width: 75px;
      height: 2px;

      content: "";

      background-color: rgba(255, 255, 255, 0.1);
    }
    &-action {
      display: block;

      padding: 10px;

      transition: color 0.5s;
      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }
  &__copy {
    span:first-of-type {
      margin-right: -0.5em;

      letter-spacing: 0.33em;

      font-weight: 100;
    }
    span:last-of-type {
      text-align: center;
      letter-spacing: 0.05em;

      color: #e5e5e5;

      font-weight: 700;
    }
  }
}
