.header-navbar {
  &__btn {
    position: relative;

    width: 30px;
    height: 22.5px;
    margin: $gap 0 $gap auto;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }

    &-row {
      position: absolute;

      display: block;

      width: 50%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      background: $color-light;
      &:nth-child(even) {
        left: 50%;

        border-radius: 0 3px 3px 0;
      }

      &:nth-child(odd) {
        left: 0;

        border-radius: 3px 0 0 3px;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 9px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 18px;
      }
    }

    &--active span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        top: 3.5px;
        left: 2.5px;
      }

      &:nth-child(2) {
        top: 3.5px;
        left: calc(50% - 2.5px);
      }

      &:nth-child(3) {
        left: -50%;

        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;

        opacity: 0;
      }

      &:nth-child(5) {
        top: 14.5px;
        left: 2.5px;
      }

      &:nth-child(6) {
        top: 14.5px;
        left: calc(50% - 2.5px);
      }
    }
  }
  &__list {
    display: flex;
    justify-content: flex-end;

    margin-right: (-$gap / 2);
    padding: 0;

    list-style: none;

    text-align: center;
    letter-spacing: 0.089em;

    font-size: 1.125rem;
    font-weight: 400;

    @include md {
      position: absolute;
      top: 100%;
      right: 0;

      display: none;

      margin: 0 $gap 0 0;

      text-align: right;

      background-color: rgba($color-gray-dark, 0.9);
      box-shadow: -3px 3px 20px -10px $color-black;
    }

    &--active {
      display: block !important;
    }
  }
  &__link {
    display: block;

    padding: $gap ($gap / 2);

    transition: color 0.5s;

    @include md-min {
      padding: $gap ($gap / 2);
    }
    @include md {
      padding: ($gap / 2) $gap;
    }
    &:hover {
      color: $color-accent;
    }
  }
  &__item {
    @include md-min {
      margin-left: $gap;
    }
    @include md {
      margin: $gap ($gap / 2);
    }
  }
}
