.header {
  position: relative;

  display: grid;
  align-content: center;

  min-height: 100vh;

  color: $color-light;
  background-color: $color-primary;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
}
