.post-item {
  transition: background-color 0.5s;

  background-color: #f2f2f2;
  &:hover {
    background-color: #d8d8d8;
    .post-item__image img {
      transform: scale(1.1);
    }
  }

  &__link {
    display: grid;
    overflow: hidden;

    height: 100%;

    grid-template-rows: 300px 1fr;
  }
  &__image {
    display: flex;
    overflow: hidden;
    align-content: center;
    justify-content: center;

    background-color: $color-primary;
    img {
      width: 100%;

      transition: transform 0.5s;

      object-fit: cover;
    }
  }
  &__caption {
    display: grid;
    overflow: hidden;
    align-content: center;

    padding: $gap;
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
